{% extends 'base.html.twig' %}
{% block title %}{{ appName }} | {{ title }}
{% endblock %}

{% block body %}
{% for about in about %}
    <h1>{{ about.title }}</h1>
    <h2>{{ about.subtitle }}</h2>
    <p>{{ about.description }}</p>
    <p class="text-right">{{ about.signature }}</p>
{% endfor %}
{% endblock %}