{% extends 'base.html.twig' %}
{% block title %}{{ appName }} | {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ about.title }}</h1>
    <h2>{{ about.subtitle }}</h2>
    <p>{{ about.description }}</p>
    <p>{{ about.signature }}</p>
    <p>{{ about.about_heading }}</p>
{% endblock %}